
body {font-family: Arial, Helvetica, sans-serif;margin: 0;
    /*background-image: url("../papaioannou-kostas-tysecUm5HJA-unsplash.jpg");*/
    background-size: 100% cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
        -webkit-background-size:  auto 100% ; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
        -moz-background-size: 100% cover ; /* optional for Firefox 3.6 */ 
        -o-background-size: 100% cover ; /* for Opera 9.5 */
        margin: 0; /* to remove the default white margin of body */
        padding: 0; /* to remove the default white margin of body */
        overflow: hidden;
        background-position: 50% 0%;
}
* {box-sizing: border-box;}
svg {
    display: block;
    margin: auto;
    height: 80vh;

}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  left: calc(50vw - 280px/2);
  bottom: 10px;
  width: 280px;
}

.topnav{
    margin: auto;
    width: 100vw;
    height: 60px;
    background-color: rgb(26, 26, 26);
}

.name {
    margin: auto;
    color: white;
    padding: 15px 30px;
    text-align: left;
    font-size: 25px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  position: fixed;
  left: calc(50vw - 300px/2);
  border: 3px solid #f1f1f1;
  
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.add_form_field {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    opacity: 0.8;
    margin-bottom: 10px;

}

#answers {
    display: inline;
    border: none;
    cursor: pointer;
    
}

.delete {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}



/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.delete:hover, .add_form_field{
    opacity: 1;
  }